body {
    display: flex;
    justify-content: center;
    color: teal;
    background-color: yellow;
    align-content: center;
    
}

h1 {
    font-size: 15rem;
    font-family: monospace;
    text-decoration: overline underline;
}